@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:wght@400;500;700;800;900&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: hsl(217, 54%, 11%);
}

.card {
    width: 350px;
    height: auto;

    background: hsl(216, 50%, 16%);

    display: flex;
    flex-wrap: wrap;

    padding: 25px;
    border-radius: 10px;
}

.img {
    width: 100%;
    position: relative;

    cursor: pointer;

    /* background: lime; */
}

.img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.img::before {
    background: hsla(178, 100%, 50%, .5);
    content: url(./icon-view.svg);
    height: 0%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    visibility: hidden;
    transition: all .6s ease;
}

.img:hover::before {
    height: 100%;
    opacity: 1;
    visibility: visible;

    border-radius: 10px;
}


.description h1, p {
    margin: 20px 0;
}

.description h1 {
    font-size: 23px;
    font-weight: 600;

    display: table;     /* Width = content*/

    color: #fff;
    cursor: pointer;

    transition: .3s all ease;
}

.description h1:hover {
    color: hsl(178, 100%, 50%);
}

.description p {
    font-size: 18px;
    font-weight: 300;

    color: hsl(215, 51%, 70%);
}

.data {
    display: flex;
    justify-content: space-between;
    /* background: purple; */
}

.price, .timer {
    display: flex;
    align-items: center;
}

.price p, .timer p {
    margin: 5px 0 5px 8px;
}

.price p {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

hr {
    color: hsl(215, 32%, 27%);
    margin: 20px 0;

    flex-basis: 100%;
}

.author {
    display: flex;
    align-items: center;

    /* background: salmon; */
}

.author img {
    height: 35px;
    width: 35px;

    margin-right: 15px;

    border: 1px solid #fff;
    border-radius: 50%;
}

.author p {
    font-size: 16px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);

    margin: 0;
}

.author a {
    color: #fff;
    text-decoration: none;

    transition: .3s all ease;
}

.author a:hover {
    color: hsl(178, 100%, 50%);
}
